In [40]:
import mysql.connector as connection
import logging as log

In [41]:
log.basicConfig(filename="SQLLog.log",level=log.INFO,format="%(asctime)s %(message)s")

In [42]:
'''
    create a database called as cardataset
'''

try:
    
    myDb = connection.connect(host="localhost",port=5506,user="root",password="mysql",use_pure=True)
    cursor=myDb.cursor()
    cursor.execute("create database cardataset")
    log.info("Database : cardataset created")
    cursor.execute("show databases")
    log.info("Database Exists : "+str(cursor.fetchall()))
    cursor.close()
    myDb.close()
except Exception as e:
    myDb.close()
    log.error("Exception while creating database : "+str(e))
    print(e)

In [43]:
'''
    create a table called as car with a column name given in dataset description
'''
try:
    
    myDb = connection.connect(host="localhost",port=5506,user="root",password="mysql",database="cardataset",use_pure=True)
    cursor=myDb.cursor()
    cursor.execute("create table if not exists carData(buying   varchar(20),maint varchar(20),doors    varchar(20),persons  varchar(20),lug_boot varchar(20),safety   varchar(20),class     varchar(20))")
    log.info("Table carData created Successfully")
    cursor.execute("show tables")
    log.info("Table List : "+str(cursor.fetchall()))
    cursor.close()
    myDb.close()
except Exception as e:
    myDb.close()
    log.error("Exception while creating table : "+str(e))

In [44]:
'''
    Dump all the data into car table 
'''
import csv

try:
     myDb = connection.connect(host="localhost",port=5506,user="root",password="mysql",database="cardataset",use_pure=True)
     
     with open("car.data","r") as data: 
            carData = csv.reader(data,delimiter="\n")
            for cData in carData:
                #print(cData[0].split(","))
                cursor = myDb.cursor()
                carData=(str(cData[0].split(",")))
                #print(str(cData[0].split(","))[1:len(carData)-1])
                log.info('INSERT INTO cardata(buying,maint,doors,persons,lug_boot,safety,class) VALUES ({carData})'.format(carData=str(cData[0].split(","))[1:len(carData)-1]))
                cursor.execute('INSERT INTO cardata(buying,maint,doors,persons,lug_boot,safety,class) VALUES ({carData})'.format(carData=str(cData[0].split(","))[1:len(carData)-1]))
                log.info("Rowcount : "+str(cursor.rowcount))
                myDb.commit()
except Exception as e:
    log.error("Exception while inserting into cardata table : "+str(e))

In [33]:
'''
    try to check weather all the data is aviable inside your table or not 
'''
try:
    myDb = connection.connect(host="localhost",port=5506,user="root",password="mysql",database="cardataset",use_pure=True)
    cursor = myDb.cursor()
    cursor.execute("select * from cardata")
    for result in cursor.fetchall():
        log.info("select * from cardata")
        log.info(result)
    myDb.close()
except Exception as e:
    myDb.close()
    log.error("Exception while selecting cardata : "+str(e))

In [34]:
'''
    try to group all the data with COL1 AND count occurences of each and every record based on col1 value 
'''
try:
    myDb = connection.connect(host="localhost",port=5506,user="root",password="mysql",database="cardataset",use_pure=True)
    cursor = myDb.cursor()
    cursor.execute("select buying,count(buying) from cardata group by buying")
    log.info("select buying,count(buying) from cardata group by buying")
        
    for result in cursor.fetchall():
        log.info(result)
    myDb.close()
except Exception as e:
    myDb.close()
    log.error("Exception while grouping data : "+str(e))

In [35]:
'''
     Try to filter a record where col 3 value will be 4 .
'''
try:
    myDb = connection.connect(host="localhost",port=5506,user="root",password="mysql",database="cardataset",use_pure=True)
    cursor = myDb.cursor()
    cursor.execute('select * from cardata where doors = "4"')
    log.info('select * from cardata where doors = "4"')
    for result in cursor.fetchall():
        log.info(result)
    myDb.close()
except Exception as e:
    myDb.close()
    log.error("Exception while filtering cardata : "+str(e))

In [36]:
'''
    Try to update a col 3 value with 8 whereever you have value equal to 2 
'''

try:
    myDb = connection.connect(host="localhost",port=5506,user="root",password="mysql",database="cardataset",use_pure=True)
    cursor = myDb.cursor()
    cursor.execute('update cardata set doors = "8" where doors = "2"')
    myDb.commit()
    cursor.execute('select * from cardata where doors = "8"')
    log.info('select * from cardata where doors = "8"')
    for result in cursor.fetchall():
        log.info(str(result))
    myDb.close()
except Exception as e:
    myDb.close()
    log.error("Exception while updating cardata : "+str(e))

In [37]:
'''
    try to delete table 
'''

try:
    
    myDb = connection.connect(host="localhost",port=5506,user="root",password="mysql",database="cardataset",use_pure=True)
    cursor=myDb.cursor()
    cursor.execute("drop table cardata")
    cursor.execute("show tables")
    log.info("table cardata dropped , current existing tables : "+str(cursor.fetchall()))
    cursor.close()
    myDb.close()
except Exception as e:
    myDb.close()
    log.error("Exception while dropping cardata tables : "+str(e))

In [39]:
'''
    Try to delete database
'''

try:
    
    myDb = connection.connect(host="localhost",port=5506,user="root",password="mysql",use_pure=True)
    cursor=myDb.cursor()
    cursor.execute("drop database cardataset")
    cursor.execute("show databases")
    log.info("Data base cardata dropped , current existing databases : "+str(cursor.fetchall()))
    cursor.close()
    myDb.close()
except Exception as e:
    myDb.close()
    log.error("Exception while dropping cardata database : "+str(e))